/* GENERAL */
section.green{
    background-color: #1ABC9C;
    color: white;
}

.jumbo-content img{
    height: 400px;
}

/* START SEPARATOR */
div.up-score{
    width: 300px;
    height: 5px;
}

.up-score-white{
    background-color: white;
}

.up-score-grey{
    background-color: #2C3E50;
}

.star-grey-icon{
    color: #2C3E50;
}
/* ----------HEADER--------- */
header{
    background-color: #2C3E50;
}

.nav-color *{
    color: white;
}


/* ----------FOOTER--------- */
footer{
    color: white;
}

section#address{
    background-color: #3A546D;
}

section#copyright{
    background-color: #2C3E50;
}