/* GENERAL */
section.green{
    background-color: #1ABC9C;
    color: white;
}

.jumbo-content img{
    height: 400px;
}

.portfolio-card{
    height: 300px;
    background-color: blue;
    border: 3px solid violet;
}

/* START SEPARATOR */
div.up-score{
    width: 300px;
    height: 3px;
    background-color: white;
}


/* ----------HEADER--------- */
header{
    background-color: #2C3E50;
}

.nav-color *{
    color: white;
}


/* ----------FOOTER--------- */
footer{
    color: white;
}

section#address{
    background-color: #3A546D;
}

section#copyright{
    background-color: #2C3E50;
}